<div id="<%= dom_id car %>">
  <p>
    <strong>Insider car image:</strong>
    <%= car.insider_car_image %>
  </p>

  <p>
    <strong>Front car image:</strong>
    <%= car.front_car_image %>
  </p>

  <p>
    <strong>Profil car image:</strong>
    <%= car.profil_car_image %>
  </p>
  <p>
    <strong>Marque:</strong>
    <%= car.marque %>
  </p>

  <p>
    <strong>Modele:</strong>
    <%= car.modele %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car.price %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= car.distance %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>


</div>
